body {
    background-image: url("../images/seinfeld/seinfeld-background.jpg");
    background-size: 100%;
    font-size: 18px;
}

img {
    display: block;
    width: 400px;
}

.answer-button {
    display: none;
    background-color: #84a7d1;
    color: black;
    padding: 20px;
    white-space: normal;
}

.displaybox {
    background-color:#c7c0c2;
    height: auto !important;
    margin-top: 140px;
    opacity: .9;
    width: 100%;
}

.final-gif {
    width: 250px;
    display: block;
}

.question {
    font-size: 25px;
}

.restart-button {
    display: none;
}

#right-answer {
    text-align: center;
    margin-top: 20px;
}

#start, .new-game {
    background-color: #84a7d1;
    border: none;
    width: 100%;
    font-size: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    body {
        background: #574539;
    }

    .displaybox {
        margin: 2% 0% 5% 0% !important;
        width: 90%;
    }

    #overall-results {
        text-align: center;
        margin-top: 2%;
    }

    .final-gif {
        float: none !important;
        display: block;
        margin-left: auto;
        margin-right: auto;;
    }
}

@media screen and (max-width: 576px) {
    .displaybox {
        margin: 0% 0% 0% 0% !important;
        width: auto;
    }
}