body {
    background-image: url("../images/background.png");
    color: rgb(59, 50, 50);
}

.displaybox {
    background-color:#a7d6cc;
    height: auto;
    margin-top: 150px;
}

.dropdown-item {
    width:100%;
    font-size: 25px;
}

.start {
    background-color: #f8eab9;
    border: none;
    color:  rgb(59, 50, 50);
    width: 90%;
    font-size: 30px;
}